@charset "utf-8";

:root {
  --primary: #56E3B1;
  --secondary: #5451E5;
  --info: #0096E0;
  --text: #FAFAFA;
  --text-muted: #6D8484;
  --text-darker: #4a5a5a;
  --bg: #101414;
  --bg-darker: #0C1010;
  --bg-lighter: #151a1a;
  --hr: #252D2D;
}

$_primary: #56E3B1;
$_primary-hover: darken($_primary, 10%);
$_secondary: #5451E5;
$_info: #0096E0;
$_text: #FAFAFA;
$_text-muted: #6D8484;
$_text-darker: #4a5a5a;
$_text-darkest: #3f4747;
$_bg: #101414;
$_bg-darker: #0C1010;
$_bg-lighter: #151a1a;
$_hr: #252D2D;

// Update Bulma's global variables
$scheme-main: $_bg-lighter; // main foreground color (cards)
$scheme-main-bis: $_bg-darker; // slightly darker fg (footer)
$scheme-main-ter: $_bg-darker; // darker fg
//$scheme-invert: $white; // opposite to fg
//$scheme-invert-bis: $white; // slightly lighter opposite to fg
//$scheme-invert-ter: $white; // lighter opposite to fg

$text-strong: $_text; // brighter text color
$text: $_text-muted; // text color
$text-light: $_text-darker; // muted text color

//$family-sans-serif: "Source Sans Pro", sans-serif;
//$family-primary: $font-sans-serif;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

//$grey-dark: $pp-bg-darker;
//$grey-light: $pp-bg-darker;

$primary: $_primary; // primary color
$info: $_info;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
// $light: $white-ter;
// $dark: $grey-darker;

$link: $_primary; // links, duh
$link-visited: $_secondary; // links, duh
$link-hover: $_primary-hover; // links, duh
// $link-focus: $pp-primary; // links, duh
// $link-active: $pp-primary; // links, duh

//$widescreen-enabled: false;
$fullhd-enabled: false;

$tag-background-color: $_text-darkest;
$tag-color: $_text;

$card-shadow: 0 0.5em 1em -0.125em rgba($_bg-darker, 0.8), 0 0 0 1px rgba($_bg-darker, 1);