// Breakpoints
$break-t: 769px !default; // tablet
$break-d: 1024px !default; // desktop
$break-w: 1216px !default; // widescreen
$break-f: 1408px !default; // fullhd

@mixin break($media) {
  @if $media == t {
    @media only screen and (min-width: $break-t) { @content; }
  }
  @else if $media == d {
    @media only screen and (min-width: $break-d) { @content; }
  }
  @else if $media == w {
    @media only screen and (min-width: $break-w) { @content; }
  }
  @else if $media == f {
    @media only screen and (min-width: $break-f) { @content; }
  }
}


// @include gradient (<top-color>, <bottom-color>);
@mixin gradient($top, $bottom) {
  background: $top;
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
  background: -webkit-linear-gradient(top, $top 0%,$bottom 100%);
  background: -o-linear-gradient(top, $top 0%,$bottom 100%);
  background: -ms-linear-gradient(top, $top 0%,$bottom 100%);
  background: linear-gradient(to bottom, $top 0%,$bottom 100%);
}