@charset "utf-8";

@import "config";
@import "~bulma/bulma";
//@import "fonts";
@import "mixins";

html {
  background: var(--bg);
}

.button {
  &.is-dark {
    background: var(--bg-lightest);
    &:hover, &:focus { background: var(--hr); }
  }
}

nav.navbar {
  .logo {
    max-height: 1.15rem;
    margin-right: 0.7rem;
  }
  .social {
    svg {
      height: 1.4rem;
      fill: var(--text-muted);
    }
  }
}

.hero {
  &.is-gradient {
    @include gradient(#0C1010,#030404);
    box-shadow: 0 1px var(--hr);
    .subtitle {
      color: var(--text-muted);
      max-width: 40rem;
      line-height: 1.5;
    }
    .meta {
      color: var(--text-darker);
    }
  }
}

.page-header {
  .tag {
    margin-bottom: 0.7rem;
    height: 1.6em;
    padding: 0 0.5rem;
    font-weight: 600;
  }
}

.content {
  blockquote {
    background: var(--bg-lighter);
    border-color: var(--text-darkest);
  }
}

.sidebar {
  position: sticky;
  top: 3rem;

  // Projects
  .project-info {
    overflow: hidden;
    dt {
      text-transform: uppercase;
      font-size: 0.85rem;
    }
    svg {
      height: 20px;
      position: relative;
      top: 3px;
      margin-right: 0.2rem;
    }
    dd {
      padding: 0.1rem 0 1rem 1.7rem;
      color: var(--text);
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  // Sharing
  .sharing-buttons {
    .button {
      color: var(--text-muted);
      &:hover, &:focus {
        &.twitter {
          svg { fill: var(--info); }
        }
        &.telegram {
          svg { fill: var(--info); }
        }
        &.facebook {
          svg { fill: var(--info); }
        }
      }
    }
  }

} // .sidebar


footer.footer.is-dark {
  @include gradient(#0C1010,#101414);
  padding: 5rem 1.5rem 8rem;
  box-shadow: 0 -1px var(--hr);
  .title {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
  }
  a {
    color: var(--text-muted);
    &:hover, &:focus {
      color: var(--primary);
    }
  }
  .links {
    a {
      display: inline-block;
      margin-bottom: 0.1rem;
    }
  }
  .social {
    margin: 1rem 0;
    a {
      svg {
        fill: var(--text-muted);
        height: 1.35rem;
        width: auto;
        margin-right: 0.5rem;
      }
      &:hover, &:focus {
        svg { fill: var(--primary); }
      }
    }
  }
}


