@charset "utf-8";

@import "config";
@import "~bulma/bulma";
//@import "fonts";
@import "mixins";

html {
  background: var(--bg);
}

nav.navbar {
  .logo {
    max-height: 1.15rem;
    margin-right: 0.7rem;
  }
  .social {
    svg {
      height: 1.4rem;
      fill: var(--text-muted);
    }
  }
}

.hero {
  &.is-gradient {
    @include gradient(#0C1010,#030404);
    box-shadow: 0 1px var(--hr);
    .subtitle {
      color: var(--text-muted);
    }
    .meta {
      color: var(--text-darker);
    }
  }
}

footer.footer {
  &.is-gradient {
    @include gradient(#0C1010,#101414);
    box-shadow: 0 -1px var(--hr);
  }
}


