{{ define "main" }}
<main role="main" class="main-content column is-9 is-offset-1">
	<article>
		
		<span>
			{{- .Content -}}
		</span>
		
		<section class="columns is-mobile is-multiline">
			{{ range .Paginator.Pages }}
			<div class="column is-6-mobile is-6-tablet">
				{{- partial "summary.html" . -}}
			</div>
			{{ end }}
		</section>

		{{- template "_internal/pagination.html" . -}}

	</article>
</main>
{{ end }}



{{ define "sidebar" }}
<div class="side column is-2">
	<div class="sidebar">

		filtering by tags/categories

	</div>
</div>
{{ end }}