<!--nav class="panel mt-6 is-dark">
  <p class="panel-heading">
    Search
  </p>
  <div class="panel-block is-white">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Search">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
</nav>


<nav class="panel my-3 is-dark">
  <p class="panel-heading">
    Projects
  </p>
  <a class="panel-block is-a is-whitective">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    bulma
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    marksheet
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
    minireset.css
  </a>
</nav-->