<link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicon/apple-touch-icon.png?v=v1" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon/favicon-32x32.png?v=v1" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon/favicon-16x16.png?v=v1" | relURL }}">
<link rel="manifest" href="{{ "/favicon/site.webmanifest?v=v1" | relURL }}">
<link rel="mask-icon" href="{{ "/favicon/safari-pinned-tab.svg?v=v1" | relURL }}" color="#04e8b0">
<link rel="shortcut icon" href="{{ "/favicon/favicon.ico?v=v1" | relURL }}">
<meta name="msapplication-TileColor" content="#161b1b">
<meta name="msapplication-config" content="{{ "/favicon/browserconfig.xml?v=v1" | relURL }}">
<meta name="theme-color" content="#161b1b">