<footer class="footer is-dark" role="contentinfo">
	<div class="container">
		<div class="columns is-mobile is-multiline">

			<div class="branding column is-full-mobile is-half-tablet">

				<div class="logotype">
					<span class="site-name">Particl</span><span class="green dot">∘</span><span class="domain">page</span>
					<small class="version">{{ .Site.Params.siteVersion}}</small>
				</div>

				<p class="site-desc">
					Community-run site around privacy-focused crypto <a href="https://particl.io">Particl Project</a>
				</p>

				<small class="copyright">
					&copy; {{ with .Site.Params.copyrightSince }}{{ . }}&ndash;{{ end }}{{ now.Format "2006" }} <a href="/about">Particl.page</a> Contributors
				</small>

				<div class="social">
					{{ partial "social-follow.html" . }}
				</div>

			</div><!-- .column -->

			<div class="links projects column is-half-mobile">
				<div class="title is-6">Our Projects</div>
				<ul>
					<li><a target="_blank" rel="noopener" href="https://stats.particl.page">Particl Stats {{ partial "new-window-icon.html" . }}</a></li>
					<li><a target="_blank" rel="noopener" href="https://pool.particl.page">Staking Pool {{ partial "new-window-icon.html" . }}</a></li>
				</ul>
			</div>

			<div class="links official column is-half-mobile">
				<div class="title is-6">Particl links</div>
				<ul>
					<li><a target="_blank" rel="noopener" href="https://particl.io">Official website {{ partial "new-window-icon.html" . }}</a></li>
					<li><a target="_blank" rel="noopener" href="https://particl.news">Latest news {{ partial "new-window-icon.html" . }}</a></li>
					<li><a target="_blank" rel="noopener" href="https://particl.wiki">Project Wiki {{ partial "new-window-icon.html" . }}</a></li>
					<li><a target="_blank" rel="noopener" href="https://ccs.particl.io">Crowdfunding {{ partial "new-window-icon.html" . }}</a></li>
				</ul>
			</div>

			<div class="links other column is-half-mobile">
				<div class="title is-6">Our Friends</div>
				<ul>
					<li><a target="_blank" rel="noopener" href="https://demarkets.io">Demarkets.io {{ partial "new-window-icon.html" . }}</a></li>
					<li><a target="_blank" rel="noopener" href="https://localparticl.com">LocalParticl.com {{ partial "new-window-icon.html" . }}</a></li>
					<li><a target="_blank" rel="noopener" href="https://wizardswap.io">WizardSwap.io {{ partial "new-window-icon.html" . }}</a></li>
				</ul>
			</div>

		</div><!-- .columns -->
	</div><!-- .container -->
</footer>