<footer class="footer is-dark" role="contentinfo">
	<div class="container">
		<div class="columns is-mobile is-multiline">

			<div class="column is-full-mobile is-half-tablet">

				<div class="logotype">
					<span class="site-name">Particl</span>
					<span class="green dot">∘</span>
					<span class="domain">page</span>
					<span class="version">3.0</span>
				</div>

				<p class="site-desc">
					Community-run site around privacy-focused crypto <a href="https://particl.io">Particl Project</a>
				</p>

				<small class="copyright">
					&copy; {{ with .Site.Params.copyrightSince }}{{ . }}&ndash;{{ end }}{{ now.Format "2006" }} Particl.page Contributors
				</small>

				<div class="social">
					{{ partial "social-follow.html" . }}
				</div>

			</div><!-- .column -->

			<div class="links projects column is-half-mobile">
				<div class="title is-6">Our Projects</div>
				<ul>
					<li><a href="https://stats.particl.page">Particl Stats</a></li>
					<li><a href="https://pool.particl.page">Staking Pool</a></li>
				</ul>
			</div>

			<div class="links official column is-half-mobile">
				<div class="title is-6">Particl links</div>
				<ul>
					<li><a href="https://particl.io">Official website</a></li>
					<li><a href="https://particl.wiki">Project Wiki</a></li>
					<li><a href="https://ccs.particl.io">Crowdfunding</a></li>
				</ul>
			</div>

			<div class="links other column is-half-mobile">
				<div class="title is-6">Our Friends</div>
				<ul>
					<li><a href="https://demarkets.io">Demarkets.io</a></li>
					<li><a href="https://localparticl.com">LocalParticl.com</a></li>
					<li><a href="https://wizardswap.io">WizardSwap.io</a></li>
				</ul>
			</div>

		</div><!-- .columns -->
	</div><!-- .container -->
</footer>