<header>
	<section class="hero is-medium is-dark is-gradient">

		<div class="hero-head">
			<div class="container">
				{{ partial "nav/bulma-navbar.html" . }}
			</div>
		</div><!-- .hero-head -->

		<div class="hero-body">
			<div class="container">

				<!--h1 class="title is-2 is-spaced">
					{{ .Title | default .Site.Title }}
				</h1>
				
				{{ with .Params.Summary }}
				<p class="subtitle is-5 lead">
					{{ . }}
				</p>
				{{ end }}-->
				{{ partial "page-header" . }}
				
			</div><!-- .container -->
		</div><!-- .hero-body -->

	</section>
</header>