<div class="summary-article">
	<div class="h-entry">

		<div class="media">

      <div class="media-left">
				<a href="{{ .Permalink }}">
					<figure class="featured-image">
						{{ if .Params.Image }}
						<img src="{{ .Permalink }}{{ .Params.image }}" alt="{{ .Params.title }}">
						{{ else }}
						<img src="{{ .Site.BaseURL }}{{ .Site.Params.siteImage }}" alt="{{ .Params.title }}">
						{{ end }}
					</figure>
				</a>
      </div>


      <div class="media-content">

        <p class="title is-5">
					<a href="{{ .Permalink }}">
						{{ .Title }}
					</a>
				</p>

        <div class="meta subtitle is-6 mb-3">

					{{ with .Date }}
						Published
						<time class="dt-published" datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ .Format "Jan 2, 2006" }}</time>
					{{ end }}
		
					{{ if isset .Params "author" }}
						<!-- loop through data/en/authors.yaml and grab author's name & photo -->
						{{ $data := index .Site.Data .Site.Language.Lang }}
						{{ range where $data.authors "name" "==" .Params.Author }}
						by
						<figure class="author-photo image is-16x16">
							<img src="{{ .photo }}" alt="{{ .name }}" class="is-rounded">
						</figure>
						<span class="p-author h-card">{{ .name }}</span>
						{{ end }}
					{{ end }}

				</div><!-- .meta -->


				<div class="content p-summary">
					{{ .Summary }}
				</div>
				<div class="taxonomies">
					{{ if isset .Params "categories" }}
						{{ range (.GetTerms "categories") }}
							<a href="{{ .Permalink }}" class="category tag p-category" title="{{ .LinkTitle }} category">{{ .LinkTitle }}</a>
						{{ end }}
					{{ end }}
					<span>
						{{ range (.GetTerms "tags") }}
							<a href="{{ .Permalink }}" class="tag p-category is-darker" title="{{ .LinkTitle }} tag">{{ .LinkTitle }}</a>
						{{ end }}
					</span>
				</div>

      </div><!-- .media-content -->

    </div><!-- .media -->

	</div>
</div>
