{{ define "main" }}
<main role="main" class="main-content column is-7 is-offset-1">

	{{/* "Type" "in" "<section name AKA folder in /content/>" */}}
	{{ $articles	:= where .Site.RegularPages "Type" "in" "articles" }}
	{{ $tutorials := where .Site.RegularPages "Type" "in" "tutorials" }}
	{{ $projects 	:= where .Site.RegularPages "Type" "in" "ecosystem" }}


	<article class="h-entry">

		{{ with .Params.Image }}
			<div class="featured-image">
				<img src="{{ . }}">
			</div>
		{{ end }}

		<!--section class="e-content">
			{{- .Content -}}
		</section-->

	</article>


	<section class="article-list">
		<header>
			<h2 class="title is-4 mb-5">Latest articles</h2>
		</header>

		{{ range first 3 $articles }}
		{{- partial "summary.html" . -}}
		{{ end }}

		<footer>
			{{ with .Site.GetPage "section" "articles" }}
			<a href="{{ .Permalink }}" class="button is-dark">All articles &rarr;</a>
			{{ end }}
		</footer>
	</section><!-- .article-list -->


	<section class="projects-list mt-6">
		<header>
			<h2 class="title is-4 mb-5">Community projects</h2>
		</header>

		{{ range first 3 $projects }}
		{{- partial "summary.html" . -}}
		{{ end }}

		<footer>
			{{ with .Site.GetPage "section" "ecosystem" }}
			<a href="{{ .Permalink }}" class="button is-dark">All community projects &rarr;</a>
			{{ end }}
		</footer>
	</section><!-- .projects-list -->

</main>
{{ end }}




{{ define "sidebar" }}
<div class="side column is-4">
	<div class="sidebar">
		
		<h2 class="title is-4">Discover Particl</h2>
		<section class="card content">
			<div class="card-image video is-16by9">
				<video controls preload="metadata" poster="/video/particl-intro.jpg">
					<source src="/video/particl-intro.mp4" type="video/mp4">
				</video>
			</div>
			<div class="card-content">
				<p>
					Particl's mission is to empower society by fostering a new decentralized, private and democratic economy supported by its blockchain platform.
				</p>
				<p class="buttons">
					<a href="https://particl.io" target="_blank" rel="noopener" class="button is-dark">Particl website</a>
					<a href="https://particl.news" target="_blank" rel="noopener" class="button is-dark">News</a>
					<a href="https://particl.wiki" target="_blank" rel="noopener" class="button is-dark">Wiki</a>
				</p>
			</div>
		</section>
		
		<h2 class="title is-4 mt-6">About Particl.page</h2>
		<section class="card content">
			<div class="card-content">
				<p>Particl.page is a community-run effort to grow Particl ecosystem and offer useful user-centric tools</p>
				<p>
					<a href="/about" class="button is-dark">Learn more</a>
				</p>
			</div>
		</section>

	</div>
</div>
{{ end }}