{{ define "main" }}

{{/* "Type" "in" "<section name AKA folder in /content/>" */}}
{{ $articles	:= where .Site.RegularPages "Type" "in" "articles" }}
{{ $tutorials := where .Site.RegularPages "Type" "in" "tutorials" }}
{{ $projects 	:= where .Site.RegularPages "Type" "in" "projects" }}


<article class="h-entry">

	{{ with .Params.Image }}
		<div class="featured-image">
			<img src="{{ . }}">
		</div>
	{{ end }}

	<section class="e-content my-6">
		{{- .Content -}}
	</section>

</article>


<section class="article-list my-6">
	<header>
		<h2>Latest articles</h2>
	</header>

	{{ range first 5 $articles }}
	{{- partial "summary.html" . -}}
	{{ end }}

	<footer>
		{{ with .Site.GetPage "section" "post" }}
		<a href="{{ .Permalink }}">{{ T "all-articles" }} &rarr;</a>
		{{ end }}
	</footer>
</section><!-- .article-list -->


<section class="tutorials-list my-6">
	<header>
		<h2>Latest tutorials</h2>
	</header>

	{{ range first 5 $tutorials }}
	{{- partial "summary.html" . -}}
	{{ end }}

	<footer>
		{{ with .Site.GetPage "section" "tutorial" }}
		<a href="{{ .Permalink }}">{{ T "all-tutorials" }} &rarr;</a>
		{{ end }}
	</footer>
</section><!-- .projects-list -->


<section class="projects-list my-6">
	<header>
		<h2>Latest projects</h2>
	</header>

	{{ range first 5 $projects }}
	{{- partial "summary.html" . -}}
	{{ end }}

	<footer>
		{{ with .Site.GetPage "section" "project" }}
		<a href="{{ .Permalink }}">{{ T "all-projects" }} &rarr;</a>
		{{ end }}
	</footer>
</section><!-- .projects-list -->


{{ end }}