{{ define "main" }}
<main role="main" class="main-content column is-7 is-offset-1">

	{{/* "Type" "in" "<section name AKA folder in /content/>" */}}
	{{ $articles	:= where .Site.RegularPages "Type" "in" "articles" }}
	{{ $projects 	:= where .Site.RegularPages "Type" "in" "ecosystem" }}


	<article class="h-entry">

		<!--section class="e-content">
			{{- .Content -}}
		</section-->

	</article>


	<section class="article-list">
		<header>
			<h2 class="title is-4 mb-5">Latest articles</h2>
		</header>

		{{ range first 4 $articles }}
		{{- partial "summary-article.html" . -}}
		{{ end }}

		<footer>
			{{ with .Site.GetPage "section" "articles" }}
			<a href="{{ .Permalink }}" class="button is-dark">All articles &rarr;</a>
			{{ end }}
		</footer>
	</section><!-- .article-list -->


	<section class="projects-list mt-6">
		<header>
			<h2 class="title is-4 mb-5">Community projects</h2>
		</header>

		{{/* range first 3 $projects }}
		{{- partial "summary-ecosystem.html" . -}}
		{{ end */}}

		<section class="columns is-mobile is-multiline">
			{{ range first 6 $projects }}
			<div class="column is-6-mobile is-6-tablet is-4-desktop">
				{{- partial "summary-ecosystem.html" . -}}
			</div>
			{{ end }}
		</section>

		<footer>
			{{ with .Site.GetPage "section" "ecosystem" }}
			<a href="{{ .Permalink }}" class="button is-dark">All community projects &rarr;</a>
			{{ end }}
		</footer>
	</section><!-- .projects-list -->

</main>
{{ end }}




{{ define "sidebar" }}
<div class="side column is-4">
	<div class="sidebar">
		
		<h2 class="title is-4">Discover Particl</h2>
		<section class="card content">
			<div class="card-image video is-16by9">
				<video controls preload="metadata" poster="/video/particl-intro.jpg">
					<source src="/video/particl-intro.mp4" type="video/mp4">
				</video>
			</div>
			<div class="card-content">
				<p>
					Particl's mission is to empower society by fostering a new decentralized, private and democratic economy supported by its blockchain platform.
				</p>
				<h3 class="title is-6">Official links</h3>
				<p class="buttons">
					<a href="https://particl.io" title="Official Particl website" target="_blank" rel="noopener" class="button is-dark">Website {{ partial "new-window-icon.html" . }}</a>
					<a href="https://particl.news" title="Latest Particl news" target="_blank" rel="noopener" class="button is-dark">News {{ partial "new-window-icon.html" . }}</a>
					<a href="https://particl.wiki" title="Browse Particl Wiki" target="_blank" rel="noopener" class="button is-dark">Wiki {{ partial "new-window-icon.html" . }}</a>
				</p>
			</div>
		</section>
		
		<h2 class="title is-4 mt-6">About Particl.page</h2>
		<section class="card content">
			<div class="card-content">
				<p>Particl.page is a community-run effort to grow Particl ecosystem and offer useful user-centric tools</p>
				<p>
					<a href="/about" class="button is-dark">Learn more</a>
				</p>
				<h3 class="title is-6">Submit new&hellip;</h3>
				<p class="buttons">
					<a target="_blank" rel="noopener" href="https://github.com/particl-page/particl.page/issues/new?assignees=xe-nonymous&labels=enhancement&template=articles--submit-a-new-article.md&title=%5BNew+article%5D+" class="button is-dark">Article {{ partial "new-window-icon.html" . }}</a>
					<a target="_blank" rel="noopener" href="https://github.com/particl-page/particl.page/issues/new?assignees=xe-nonymous&labels=enhancement&template=ecosystem--submit-a-new-project.md&title=%5BNew+project%5D+" class="button is-dark">Project {{ partial "new-window-icon.html" . }}</a>
				</p>
			</div>
		</section>

	</div>
</div>
{{ end }}