@import "/fonts/fonts.css";

:root {
  --bg: #eee;

  --font: "Source_Sans_Pro";
  --font-heading: "Raleway_";
}

/* ------------------ GENERAL ------------------ */

body {
  font-family: var(--font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* ------------------ LAYOUT ------------------ */

main {
  background: var(--bg);
}


/* ------------------ SPECIFIC ------------------ */




/* ------------------ PLUG-INS ------------------ */


