@import "/fonts/fonts.css";

:root {
  --bg: #eee;
  --bg-muted: #dfdfdf;
  --text: #101414;
  --text-muted: #676d6d;

  --color-primary: #B9FF74;
  --color-secondary: #04CDE8;

  --font: "Source_Sans_Pro";
  --font-heading: "Raleway_";

  --radius: 4px;
}

/* ------------------ GENERAL ------------------ */

body {
  font-family: var(--font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--text);
  margin-top: 5rem;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

figure {
  background: var(--bg-muted);
  margin: 1.5rem 0;
  border-radius: var(--radius);
  overflow: hidden;
  text-align: center;
}
figure a:hover img,
figure a:focus img {
  opacity: 0.95;
}
figcaption p {
  margin: 0.6rem 1.5rem;
  font-size: 1rem;
  font-style: italic;
}

article p {
  color: var(--text-muted);
  font-family: var(--font);
}
article p img {
  margin: 2.5rem 0;
  border-radius: var(--radius);
}
article p a:hover img,
article p a:focus img {
  opacity: 0.95;
}
article p > strong {
  font-weight: 500;
  color: var(--text);
}

article ul, ol {
  font-family: var(--font);
}

article hr {
  margin: 3.5rem 0;
  border: none;
  border-top: 1px solid var(--bg-muted);
}

/* ------------------ LAYOUT ------------------ */

nav .logo {
  width: 1.5rem; margin-right: 0.5rem;
  position: relative; top: 0.2rem;
}
main {
  background: var(--bg);
}


/* ------------------ SPECIFIC ------------------ */

.footnotes {
  margin: 4rem 0 3rem;
  font-size: 1rem;
}
.footnotes hr {
  border: none;
  border-top: 1px solid var(--bg-muted);
}
.footnotes ol {
  padding: 1rem 0 0 3rem;
}
.footnotes li p {
  margin: 0 0 0.3rem 0;
}
.footnote-ref {
  margin: 0 0.2rem 0 0.1rem;
  font-weight: 500;
}


/* ------------------ PLUG-INS ------------------ */


